.DS_Store

# ignore target folders
*target/
*bin/

# ignore eclipse config
*.project
*.classpath
*.settings/
*.metadata
*.launch

# ignore intellij config
*.idea/
*.iml
*.iws

*.springBeans
*.checkstyle
*.externalToolBuilders

*.pages.xml.spdia
